<h2> Search Users </h2>

<form class="form-inline" method="POST" action="/user/search">
    <div class="form-group">
        <input class="form-control" type="text" name="id" placeholder="Search Users by ID">
    </div>
    <input class="btn btn-primary" type="submit" value="Search">
</form>